<h3><%= @exercise.name.upcase %> - <%= @exercise.target.titleize %></h3>
<p><%= @exercise.instruction %></p>


  <form>
  <input type="button" value="All Exercises" onclick="window.location.href = '/exercises'"/>
  <input type="button" value="Your Circuits" onclick="window.location.href = '/circuits'"/>
  </form>
